In [20]:


import pandas  as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Azzum\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [7]:
movie_data = pd.read_csv('IMDB Dataset.csv')

In [8]:
movie_data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [9]:
movie_data['sentiment'] = movie_data['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)

In [10]:
movie_data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. <br /><br />The...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [11]:
movie_data['review'] = movie_data['review'].apply(lambda x: x.lower())

In [21]:
movie_data['review'] = movie_data['review'].apply(word_tokenize)
movie_data

                                                  review  sentiment
0      [one, of, the, other, reviewers, has, mentione...          1
1      [a, wonderful, little, production, ., <, br, /...          1
2      [i, thought, this, was, a, wonderful, way, to,...          1
3      [basically, there, 's, a, family, where, a, li...          0
4      [petter, mattei, 's, ``, love, in, the, time, ...          1
...                                                  ...        ...
49995  [i, thought, this, movie, did, a, down, right,...          1
49996  [bad, plot, ,, bad, dialogue, ,, bad, acting, ...          0
49997  [i, am, a, catholic, taught, in, parochial, el...          0
49998  [i, 'm, going, to, have, to, disagree, with, t...          0
49999  [no, one, expects, the, star, trek, movies, to...          0

[50000 rows x 2 columns]

In [26]:
movie_data['review'] = movie_data['review'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x))

vectorizer = TfidfVectorizer(stop_words='english', max_features=5000) 
X = vectorizer.fit_transform(movie_data['review'])
y = movie_data['sentiment']

In [27]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)  
from sklearn.metrics import accuracy_score, classification_report
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.8507
              precision    recall  f1-score   support

           0       0.85      0.85      0.85      4961
           1       0.85      0.85      0.85      5039

    accuracy                           0.85     10000
   macro avg       0.85      0.85      0.85     10000
weighted avg       0.85      0.85      0.85     10000

In [31]:
user_review = input("Enter a movie review: ") # Generate/ input the review
user_review = user_review.lower()
user_review = ' '.join(word_tokenize(user_review))
user_review_vectorized = vectorizer.transform([user_review])
prediction = model.predict(user_review_vectorized)
print("Positive Review" if prediction[0] == 1 else "Negative Review")

Negative Review